<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<nav class="top-menu">
  <ul class="menu-main">
    <li><a href="{{ main_url }}">Главная</a></li>
    <li><a href="{{ searsh_url }}">Поиск</a></li>
  </ul>
</nav>
<form class="decor">
  <div class="form-left-decoration"></div>
  <div class="form-right-decoration"></div>
  <div class="circle"></div>
  <div class="form-inner">
    <h3>Введите слово на итальянском</h3>
    <input type="text" name="word" placeholder="Слово">
    <input type="submit" value="Отправить">
  </div>
</form>
</body>
</html>